@import url('_reset.css');
@import url('_dracula.css');
@import url('_header.css');
@import url('_menu.css');

:root {
    --background: #051D3B;
         
    --input: #FFFFFF29;
    --input-hover: #FFFFFF3D;
  
    --botao: #5081FB;
    --botao-hover: #7BA4FC;
    --botao-focus: #96B9FD;
    --botao-out: #5081FB14;
    --botao-out-hover: #5081FB29;
    --botao-out-focus: #5081FB3D;
  
    --icone-hover: #5081FB14;
    --icone-pressed: #5081FB29;
  
    --item-menu: #5081FB29;
    --item-menu-hover: #5081FBA3;
    --item-menu-pressed: #5081FB;
  
    --perfil-hover: #FFFFFF29;
  
    --background-card: #00000029;
    --item-card-hover:#FFFFFF14;
    --item-card-pressed: #FFFFFF29;

    --fonte-card: 'Roboto Mono', sans-serif;
}

body {
    background-color: var(--background);
    font-family: 'inter', sans-serif;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding: 1.5rem 2rem;
}

@media screen and (max-width: 767px) {
    body {
      padding: 1.5rem 1rem
    } 
}

.entrada {
  background: var(--input);
  padding: 1rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 0.2s;
  resize: none;
  overflow-y: hidden;
}

.entrada:hover {
  background: var(--input-hover);
}

.botao {
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem 0; 
  cursor: pointer; 
  font-family: inherit;
}

.editor__campo--box {
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
}

.editor__campo {
  display: block;  
  background: #141414;
  background-image: url(../img/bolinhas.png);
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  background-size: 40px;
  background-attachment: local;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: var(--fonte-card);
  font-size: 0.87rem;
  line-height: 1.154rem;
  outline: none;   
  resize: none;
  box-shadow: 0px 16px 24px 0px #0000003D;
  white-space:pre-wrap;
  overflow-y: auto;
  overflow-wrap: break-word;
  scrollbar-color: dark;
  scrollbar-width: thin;
}

@media screen and (min-width: 1024px) {
  .editor__campo {
    max-width: 47vw;  
  }
}

code.hljs {
  padding: 2.5rem 1rem 1rem;
}

.editor__campo::-webkit-scrollbar {
  width: 0px;
}