:root {
    --background: #051D3B;
         
    --input: #FFFFFF29;
    --input-hover: #FFFFFF3D;
  
    --botao: #5081FB;
    --botao-hover: #7BA4FC;
    --botao-focus: #96B9FD;
    --botao-out: #5081FB14;
    --botao-out-hover: #5081FB29;
    --botao-out-focus: #5081FB3D;
  
    --icone-hover: #5081FB14;
    --icone-pressed: #5081FB29;
  
    --item-menu: #5081FB29;
    --item-menu-hover: #5081FBA3;
    --item-menu-pressed: #5081FB;
  
    --perfil-hover: #FFFFFF29;
  
    --item-card:#FFFFFF14;
    --item-card-hover: #FFFFFF29;

    --fonte-card: 'Roboto Mono', sans-serif;
}

body {
    background-color: var(--background);
    font-family: 'inter', sans-serif;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding: 1.5rem 2rem;
}

.cabecalho {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 2.5fr 1.1fr;
    align-items: center;
    margin-bottom: 32px;
}

@media screen and (max-width: 1023px) {
  .cabecalho {  
    gap: 40px;
    grid-template-columns: auto 1fr auto;
  }
}

.cabecalho__logo {
    width: 145px;
}

.entrada {
    background: var(--input);
    padding: 1rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.2s;
    resize: none;
}

.entrada:hover {
    background: var(--input-hover);
}

.perfil {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 8px;
    transition: 0.2s;
    margin-left: 9%;
}

.busca-mobile {
  display: none;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width:767px){
  .entrada--busca {
    display:none;
  }
  
  .busca-mobile {
    display: inline;
    justify-self: flex-end;
  }

  .busca-mobile i {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1023px) {
 
  .perfil {
    display:none;
  }
  
  .menu-mobile {
    justify-self: flex-end;
    display:inline;  
  }

  .menu-mobile i {
    font-size: 1.3rem;
  }
}

.perfil:hover {
    background: var(--perfil-hover);
}

.perfil__imagem {
    width: 32px;
}

.perfil__nome {
   margin-left: 8px;
}

.menu {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .menu {
    position:absolute;
    right: 200vw;
  }
}

.titulo-sidebar {
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.menu__item {
    opacity: 56%;
    margin-bottom: 1rem;
}

.menu__item i{
    padding: 1rem 0.8rem;
    margin-right: 0.9rem;
    border-radius: 16px;
    background: var(--item-menu);
    transition: 0.2s;
}

.menu__item:hover {
  opacity: 72%
}

.menu__item i:hover{
    background: var(--item-menu-hover);
}

.menu__item--ativo {
    opacity: 100%;
}

.menu__item--ativo i{
    background: var(--item-menu-pressed);
}