main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2.5fr 1.1fr;
}

.container {
    grid-column: span 2;
}

.lista-cartoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Área do código*/
.cartao {
    width: 48.8%;
    background: var(--background-card);
    border-radius: 8px;
    margin-bottom: 24px;
}


.lista-cartoes .cartao:nth-child(2n)  {
    margin-left: 2.4%;
}

.editor__campo--box {
    height: 288px;
    padding: 24px;
}

@media screen and (max-width: 1023px) {
    .container {
        grid-column: span 3;
    }
    
    .cartao {
        width: 100%;
    }

    .lista-cartoes .cartao:nth-child(2n)  {
        margin-left: 0;
    }

    .editor__campo--box{
        height: 342px;
    }
}

@media screen and (max-width: 767px){
    .editor__campo--box{
        height: 402px;
    }
}

.cartao__infos {
    padding: 24px;
}

.cartao__titulo {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 0.5rem; 
}

.cartao__descricao {
    opacity: 80%;
    margin-bottom: 2rem;
}

.cartao__infos--botoes {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
}

.cartao__interacao {
    padding: 0.62rem;
    border-radius: 16px;
}

.cartao__interacao:hover{
    background: var(--item-card-hover);
}   

.cartao__interacao:active{
    background: var(--item-card-pressed);
}   

.fas {
    margin-right: 0.62rem;
}

.cartao__interacao--amei {
    color: #F65151;
}

.cartao__imagem-perfil {
    justify-self: right;
}

.perfil__nome{
    padding-right: 0.5rem;
}

.hide{
    display: none;
}



