.menu {
    display: flex;
    flex-direction: column;
}

.titulo-sidebar {
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.menu__item {
    opacity: 56%;
    margin-bottom: 1rem;
}

.menu__item i{
    padding: 1rem 0.8rem;
    margin-right: 0.9rem;
    border-radius: 16px;
    background: var(--item-menu);
    transition: 0.2s;
}

.menu__item:hover i{
  opacity: 72%;
  background: var(--item-menu-pressed);
}

.menu__item--ativo {
    opacity: 100%;
}

.menu__item--ativo i{
    background: var(--item-menu-pressed);
}

.perfil-mobile {
  display: none;
}

/* Tablet e celular */
@media screen and (max-width: 1023px) {
  .menu {
    display: none;
  }

  .menu-mobile {
    position:absolute;
    left: calc(100vw - 286px);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 254px;
    box-sizing: border-box;
    background-color: #2D415B;
    padding: 2rem;
  }

  .menu-mobile :nth-child(3) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 8%);
  }

  .perfil-mobile {
    align-self: left;
    display: flex;
  }  
}

@media screen and (max-width: 767px) {
  .menu-mobile {
    left: calc(100vw - 270px);
  }  
}