main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

@media screen and (max-width: 1023px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

.editor__campo {
    background: #141414;
    background-image: url(../img/bolinhas.png);
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-size: 40px;
    width: 95%;
    height: 366px;
    border-radius: 8px;
    font-family: var(--fonte-card);
    line-height: 1rem;
    padding: 3rem 1rem 1rem;
    box-sizing: border-box;
    border: 32px solid #6BD1FF;
    outline: none;    
}

@media screen and (max-width: 767px){
  .editor__campo{
    height:492px;
  }
}

.botao {
    border-radius: 8px;
    padding: 1rem;
    margin: 2rem 0;  
}

.editor__botao {
    background: var(--botao-out);
    margin-bottom: 2.5rem;
    width: 95%;
}

.editor__botao:hover {
    background: var(--botao-out-hover);
}

.editor__botao:active {
    border: 4px solid #5081FB3D;
}

.editor__botao:focus {
    background: var(--botao-out-focus);
}

.projeto {
  display: flex;
  flex-direction: column;
}

.titulo-espacamento{
    margin-top: 2rem;  
}

.personalizacao select {
    width: 100%;
}

option {
    background: var(--background);
}

.color-picker {
    border: 1px solid #FFFFFF;
    background: #051D3B;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    padding: 8px;
    margin-top: 0.5rem;
}

@media screen and (max-width: 1023px){
  .personalizacao{
    display:flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .personalizacao select {
    width: 48%;
  }
  
  .color-picker {
    width: 48%;
  }
}

@media screen and (max-width: 767px){
  .personalizacao{
    display: inline-block;
  }
    .personalizacao select {
    width: 100%;
  }
  
  .color-picker {
    width: 100%;
  }
}

.projeto__botao {
    background: var(--botao);
    color: #051D3B;
    width: 100%
}

.projeto__botao:hover {
    background: var(--botao-hover);
}

.projeto__botao:focus {
    background: var(--botao-focus);
}

.projeto__botao:active {
    border: 4px solid #5081FBB8;
}


